@import "custom_variables";
#block-homepageheaderintro {
  padding-top: 124px;
  padding-left: 120px;
  padding-bottom: 269px;
  @media (max-width: 1299px) {
    padding-bottom: 247px;
  }
  @media (max-width: 767px) {
    padding-bottom: 130px;
  }
  @media (max-width: 599px) {
    padding-top: 35px;
    padding-left: 0;
    padding-bottom: 100px;
    text-align: center;
  }
  @media (max-width: 420px) {
    padding-bottom: 80px;
  }

  & h1 {
    font-size: 68px;
    color: $color-white;
    font-weight: 100;
    margin-bottom: 0;
    line-height: 59px;
    text-align: initial;
    letter-spacing: -3.75px;
    @media (max-width: 599px) {
      text-align: center;
    }
    @media (max-width: 420px) {
      font-size: 55px;
    }
  }

  & h2 {
    margin: 0;
    font-size: 40px;
    line-height: 38px;
    letter-spacing: -1.9px;
    font-weight: normal;
    @media (max-width: 420px) {
      font-size: 34px;
    }
  }

  & p {
    width: 360px;
    margin: 0;
    color: $brand-primary;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: -0.486px;
    @media (max-width: 599px) {
      margin: 0 auto;
    }
    @media (max-width: 420px) {
      width: 100%;
      margin: 0;
    }
  }
}
