/*Overwrite bootstrap variables*/
$navbar-height: auto;
$brand-primary: #6e9bca;
$brand-danger: #e23112;
$btn-default-color:              #fff;
$btn-default-bg:                 #373645;
$btn-default-border:             #ccc;
$text-muted: #cccccc;

/*Custom variables*/
$color-gray: #cccccc;
$color-white: #ffffff;
$color-black: #0c0d0e;