@import "custom_variables";
.site-logo {
  width: 240px;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #373645;
  @media (max-width: 991px) {
    width: 185px;
  }
}
.site-logo .name.navbar-brand.site-logo__link {
  margin-top: 25px;
  padding-bottom: 10px;
  font-family: serif;
  font-size: 32px;
  color: $brand-primary;
  letter-spacing: 2px;
}

.navbar-text.site-logo__text {
  margin: 0 0 21px;
  color: #cac9cd;
}
