@import "custom_variables";

.social-media-links--platforms.horizontal li {
  padding: 0;
  margin-right: 8px;
  @media (max-width: 379px) {
    margin-bottom: 10px;
  }
  &:last-child {
    margin-right: 0;
    @media (max-width: 379px) {
      margin-right: 8px;
    }
  }
}

.social-media-links--platforms li span {
  font-size: 20px;
  width: 25px;
  height: 25px;
  color: $color-white;
  background-color: $brand-primary;
  padding: 3px;
}
